@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<ErrorBoundary>
	<ChildContent>
		<SurveyPrompt />
	</ChildContent>
	<ErrorContent>
		<p>Oops! Something went wrong.</p>
	</ErrorContent>
</ErrorBoundary>
